@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 33% 98%;
    --foreground: 222 47% 11%;
    --card: 220 33% 98%;
    --card-foreground: 222 47% 11%;
    --popover: 220 33% 98%;
    --popover-foreground: 222 47% 11%;
    --primary: 262 83% 86%;
    --primary-foreground: 222 47% 11%;
    --secondary: 240 70% 97%;
    --secondary-foreground: 222 47% 11%;
    --muted: 240 70% 97%;
    --muted-foreground: 215 20% 65%;
    --accent: 254 100% 94%;
    --accent-foreground: 222 47% 11%;
    --destructive: 0 100% 94%;
    --destructive-foreground: 222 47% 11%;
    --border: 240 70% 97%;
    --input: 240 70% 97%;
    --ring: 262 83% 86%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  
  ::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    @apply bg-primary/20 rounded-full;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-primary/40;
  }
}